body {
    margin: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 30px;
    background-color: red;
    text-align: center;
    padding-top: 15px;
}

nav {
    background-color: violet;
    width: 30%;
    height: 500px;
    float: left;
}

footer {
    width: 100%;
    height: 30px;
    background-color: red;
    text-align: center;
    padding-top: 15px;
    float: left;
}

.main1 {
    float: right;
    width: 70%;
    height: 250px;
    background-color: teal;
}

.main2 {
    float: right;
    width: 70%;
    height: 250px;
    background-color: yellow;
}
